@model IEnumerable<TaskMngr.Models.Tsk>

<style>
    td {
        width: 200px !important;
    }
</style>

<table class="table table-bordered m-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-dark mb-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-sm btn-outline-secondary mb-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-outline-danger mb-1" onclick="confirmDelete(@item.Id)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    function confirmDelete(taskId) {
        if (confirm("Are you sure you want to delete this task?")) {
            // If the user confirms, call the deleteTask function
            deleteTask(taskId);
        }
    }

    function deleteTask(taskId) {
        // Make an AJAX call to delete the task
        $.ajax({
            url: '/Task/DeleteTask', // Adjust the URL based on your routing
            type: 'POST',
            data: { Id: taskId },
            success: function (data) {
                // Handle success, e.g., update the task list
                $('#taskListContainer').html(data);
            },
            error: function () {
                // Handle error
                alert('Error deleting task.');
            }
        });
    }
</script>
